.Burger {
    width: 100%;
    margin: auto;
    height: 300px;
    
    text-align: center;
    font-weight: bold;
    font-size: 1.2;
}

@media(min-width: 1000px) and (min-height:700px)
{
    .Burger{
        width: 700px;
        height: 600px
    }
}